body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

.split-container {
    display: flex;
    height: 100vh; /* Altura total da viewport */
}

.left-side {
    flex: 1; /* Ocupa metade da tela */
    background-color: #FE6D6C;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Para centralizar a imagem */
}

.logo {
    max-width: 70%;
    max-height: 100%;
    display: block;
    margin: 0 auto; /* Centraliza a imagem */
}

.right-side {
    flex: 1; /* Ocupa metade da tela */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.login-box legend {
    color: #534343;
    font-size: 2.2rem;
}

.login-box label {
    display: block;
    margin-bottom: 10px;
    color: black;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: calc(100% - 22px);
    padding: 5px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box input[type="submit"] {
    background-color: #FE6D6C;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-box input[type="submit"]:hover {
    background-color: #333;
}
