@model MakersBnB.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Model.WelcomeMessage</h1>
    
    <h2>Reviews:</h2>
    <ul>
        @foreach (var review in Model.Reviews)
        {
            <li>@review</li>
        }
    </ul>
</div>