    <ul>
    @{
        foreach (string name in ViewBag.Names) {
        <li>@name</li>
        }
    }
    </ul>
<h2>Space Details</h2>
<div>
    <p><strong>Name:</strong> @ViewBag.Space.Name</p>
    <p><strong>Description:</strong> @ViewBag.Space.Description</p>
    <p><strong>Price:</strong> @ViewBag.Space.Price</p>
</div>