    <form action="/Spaces" method="post">
    <fieldset>
        <legend>List a space</legend>
        <div>
        <label>Name <input type="text" name="name" /></label>
        </div>
        <div>
        <label>Description <input type="text" name="description" /></label>
        </div>
        <div>
        <label>Bedrooms <input type="text" name="bedrooms" /></label>
        </div>
        <div>
        <label>Price <input type="text" name="price" /></label>
        </div>
        <div>
        <label>Rules <input type="text" name="rules" /></label>
        </div>
        <div>
        <input type="submit" value="Submit" class="submit" />
        </div>
    </fieldset>
    </form>