<!DOCTYPE html>
<html>
<head>
    <title>Reservation Error</title>
</head>
<body>
    <h1>Error</h1>
    <p>There was an error processing your reservation. Please try again.</p>
    <a href="/Reservations/New">Try Again</a>
</body>
</html>
