@model IEnumerable<MakersBnB.Models.Reservation>

<!DOCTYPE html>
<html>
<head>
    <title>Reservations List</title>
</head>
<body>
    <h1>Reservations List</h1>

    @if (Model != null && Model.Any())
    {
        <table>
            <thead>
                <tr>
        
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reservation in Model)
                {
                    <tr>
                        <td>@reservation.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@reservation.EndDate.ToString("yyyy-MM-dd")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No reservations found.</p>
    }
</body>
</html>
