@{
    ViewData["Title"] = "Create Account";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MakersBnB</title>
    <link rel="stylesheet" href="~/css/createaccount.css" asp-append-version="true" />
</head>
<body>
    <div class="create-account-box">
        <form action="/Users" method="post">
            <fieldset>
                <legend>Create Account</legend>
                <div>
                    
                    <input type="text" name="username" id="username" placeholder="Username" />
                </div>
                <div>
                    
                    <input type="text" name="email" id="email" placeholder="Email" />
                </div>
                <div>
                    
                    <input type="password" name="password" id="password" placeholder="Password" />
                </div>
                <div>
                    <input type="submit" value="Submit" class="submit" />
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>
